---
const pageTitle = 'About Me'
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>My Astro Site</h1>
    <h1>{pageTitle}</h1>

    <p>My name is Clevland brown/ and i am proud to be/ back in my home town/ with my new family./ with old friends/ and new friends/ and even a bear/</p>

    <p>I will update this site as a go though the tooterals</p>
</body>
</html>