<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>My astro site</h1>
    <h2>My astro learning blog</h2>
    <p>this is where i will post about my journy leaning astro</p>
</body>