---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import '../styles/global.css';
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}));
const pageTitle = 'Blog page';
---
<BaseLayout pageTitle = {pageTitle}>
    <h1>My astro site</h1>
    <h2>My astro learning blog</h2>
    <p>this is where i will post about my journy leaning astro</p>

    <ul>
        {allPosts.map((post: any) => <BlogPost href={post.url} title={post.frontmatter.title}/>)}
    </ul>
</BaseLayout>