---
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/global.css'
const pageTitle = "Home page"
---

<BaseLayout pageTitle={pageTitle}>
	<h2> my awsome blog subtitle</h2>
</BaseLayout>