---
import BaseLayout from '../layouts/BaseLayout.astro'
import Greeting from '../components/Greeting'
import '../styles/global.css'
const pageTitle = "Home page"
---

<BaseLayout pageTitle={pageTitle}>
	<h2> my awsome blog subtitle</h2>
	<Greeting client:load messages={['Hej', 'Hallo', 'Hola', 'Habari']}/>
</BaseLayout>